.classpath
.project
.pydevproject
.settings
bin
*.pyc

# Ignore kinect C++ acquisition program binaries
acquisition/kinect/Bin
acquisition/kinect/x86-Release
acquisition/kinect/x64-Release
acquisition/export-*.csv
