.classpath
.project
.pydevproject
.settings
.cproject
bin
*.pyc
*~

# Ignore kinect C++ acquisition program binaries
acquisition/kinect/Bin
acquisition/kinect/x86-Release
acquisition/kinect/x64-Release
acquisition/kinect/x64-Debug
acquisition/kinect/Win32Debug
acquisition/kinect/Win32Release
acquisition/kinect/NiUserTracker.opensdf
acquisition/kinect/NiUserTracker.sdf
acquisition/kinect/ipch

# Ignore Arduino C++ acquisition program binaries
acquisition/arduino/Arduino-AmI-Lab/Release
acquisition/arduino/Arduino-AmI-Lab/Debug
acquisition/arduino/Arduino-AmI-Lab/Logs
acquisition/arduino/arduino_core/Release
acquisition/arduino/arduino_core/Debug

# Skeleton export files
acquisition/export-*.csv

# Settings file
core/settings_local.py
dashboard/conf/general.user.js
